{% extends 'common.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock styles %}

{% block content %}
    <div class="products">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
          <img src="{{ product.productimage_set.all.0.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Перейти к товару</a>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}